In [1]:
%pwd

'/lustre/home/debnathk/dleps/code/DLEPS'

In [2]:
import pandas as pd

In [3]:
# Load the training set
df = pd.read_csv('../../data/drug full screening data NEW edited.csv')
df

FileNotFoundError: [Errno 2] No such file or directory: '../../data/drug full screening data NEW edited.csv'

In [4]:
# Print the columns

df.columns

Index(['DRUG NAME', 'MDA7+D1+1', 'MDA7+D1+2', 'MDA7+D1+3', 'MDA7+D2+1',
       'MDA7+D2+2', 'MDA7+D2+3', 'D1+1', 'D1+2', 'D1+3', 'D2+1', 'D2+2',
       'D2+3', 'MDA7+D1+4', 'MDA7+D1+5', 'MDA7+D1+6', 'MDA7+D2+4', 'MDA7+D2+5',
       'MDA7+D2+6', 'D1+4', 'D1+5', 'D1+6', 'D2+4', 'D2+5', 'D2+6',
       'MDA7+D1+7', 'MDA7+D1+8', 'MDA7+D1+9', 'MDA7+D2+7', 'MDA7+D2+8',
       'MDA7+D2+9', 'D1+7', 'D1+8', 'D1+9', 'D2+7', 'D2+8', 'D2+9'],
      dtype='object')

In [15]:
# Separate the instances were drugs were adminisitered synergistiacally with  MDA7, comapred to when administered alone

df_mda7_drug = df.filter(like='MDA7', axis=1)
df_mda7_drug

,MDA7+D1+1,MDA7+D1+2,MDA7+D1+3,MDA7+D2+1,MDA7+D2+2,MDA7+D2+3,MDA7+D1+4,MDA7+D1+5,MDA7+D1+6,MDA7+D2+4,MDA7+D2+5,MDA7+D2+6,MDA7+D1+7,MDA7+D1+8,MDA7+D1+9,MDA7+D2+7,MDA7+D2+8,MDA7+D2+9
0,0.467198,0.492122,0.500198,0.651233,0.762780,0.484070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.424844,0.503705,0.433523,0.517083,0.498133,0.485443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.462072,0.509482,0.424083,0.451883,0.495565,0.472871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.464806,0.494925,0.502533,0.491361,0.479975,0.443513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.407362,0.425062,0.490854,0.489590,0.513733,0.395002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1966,0.750820,0.741770,0.826674,0.835227,0.807444,0.802552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1967,0.714064,0.849337,0.563837,0.869225,0.700734,0.823960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1968,0.592418,0.708048,0.883598,0.811905,0.849278,0.827013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969,0.705559,0.941525,0.717699,0.887134,0.716770,0.617353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970,0.844985,0.773646,0.742799,0.802596,0.787334,0.757312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Remove the NaN columns
df_mda7_drug = df_mda7_drug.dropna(axis=1)
df_mda7_drug

      MDA7+D1+1  MDA7+D1+2  MDA7+D1+3  MDA7+D2+1  MDA7+D2+2  MDA7+D2+3
0      0.467198   0.492122   0.500198   0.651233   0.762780   0.484070
1      0.424844   0.503705   0.433523   0.517083   0.498133   0.485443
2      0.462072   0.509482   0.424083   0.451883   0.495565   0.472871
3      0.464806   0.494925   0.502533   0.491361   0.479975   0.443513
4      0.407362   0.425062   0.490854   0.489590   0.513733   0.395002
...         ...        ...        ...        ...        ...        ...
1966   0.750820   0.741770   0.826674   0.835227   0.807444   0.802552
1967   0.714064   0.849337   0.563837   0.869225   0.700734   0.823960
1968   0.592418   0.708048   0.883598   0.811905   0.849278   0.827013
1969   0.705559   0.941525   0.717699   0.887134   0.716770   0.617353
1970   0.844985   0.773646   0.742799   0.802596   0.787334   0.757312

[1971 rows x 6 columns]

In [1]:
# Take the average of all the columns, then standardize the data
import numpy as np

df_mda7_drug["MDA7+D1+Mean"] = df_mda7_drug[cols].mean(axis=1)
df_mda7_drug["MDA7+D1+std"] = df_mda7_drug[cols].std(axis=1)
df_mda7_drug = df_mda7_drug[df_mda7_drug["MDA7+D1+std"] < 0.3]
df_mda7_drug = df_mda7_drug[df_mda7_drug["MDA7+D1+Mean"] < 1.2]
df_mda7_drug["MDA7+D1+Mean"] = df_mda7_drug(df_mda7_drug["MDA7+D1+Mean"])
df_mda7_drug.head()

NameError: name 'df_mda7_drug' is not defined

In [20]:
df_drug_only = df.filter(regex='^D\d', axis=1)
df_drug_only

,D1+1,D1+2,D1+3,D2+1,D2+2,D2+3,D1+4,D1+5,D1+6,D2+4,D2+5,D2+6,D1+7,D1+8,D1+9,D2+7,D2+8,D2+9
0,0.878523,0.952131,1.122307,1.045010,1.130569,1.233847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.985621,1.002564,1.297499,1.148327,1.207280,1.224764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.980899,0.906619,0.982075,0.904645,1.331227,1.328517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.363714,0.919337,1.273511,1.345759,1.493460,1.217011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.437537,0.569486,0.435191,0.506453,0.486821,0.289898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1966,0.790976,0.905025,0.865902,0.920139,0.982128,0.874934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1967,0.808023,0.719939,0.689561,0.789585,0.884159,0.797149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1968,1.053463,1.007266,0.957949,0.962455,0.946686,0.850231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969,0.804578,0.716076,0.845920,0.814333,0.849052,0.824609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970,0.618461,0.797263,0.793098,0.833311,0.917323,0.970053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df_drug_only = df_drug_only.dropna(axis=1)
df_drug_only

          D1+1      D1+2      D1+3      D2+1      D2+2      D2+3
0     0.878523  0.952131  1.122307  1.045010  1.130569  1.233847
1     0.985621  1.002564  1.297499  1.148327  1.207280  1.224764
2     0.980899  0.906619  0.982075  0.904645  1.331227  1.328517
3     1.363714  0.919337  1.273511  1.345759  1.493460  1.217011
4     0.437537  0.569486  0.435191  0.506453  0.486821  0.289898
...        ...       ...       ...       ...       ...       ...
1966  0.790976  0.905025  0.865902  0.920139  0.982128  0.874934
1967  0.808023  0.719939  0.689561  0.789585  0.884159  0.797149
1968  1.053463  1.007266  0.957949  0.962455  0.946686  0.850231
1969  0.804578  0.716076  0.845920  0.814333  0.849052  0.824609
1970  0.618461  0.797263  0.793098  0.833311  0.917323  0.970053

[1971 rows x 6 columns]

In [22]:
df_drug_only['mean'] = df_drug_only.mean(axis=1)
df_drug_only

C:\Users\debnathk\AppData\Local\Temp\ipykernel_13852\3226304834.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drug_only['mean'] = df_drug_only.mean(axis=1)

          D1+1      D1+2      D1+3      D2+1      D2+2      D2+3      mean
0     0.878523  0.952131  1.122307  1.045010  1.130569  1.233847  1.060398
1     0.985621  1.002564  1.297499  1.148327  1.207280  1.224764  1.144343
2     0.980899  0.906619  0.982075  0.904645  1.331227  1.328517  1.072330
3     1.363714  0.919337  1.273511  1.345759  1.493460  1.217011  1.268799
4     0.437537  0.569486  0.435191  0.506453  0.486821  0.289898  0.454231
...        ...       ...       ...       ...       ...       ...       ...
1966  0.790976  0.905025  0.865902  0.920139  0.982128  0.874934  0.889851
1967  0.808023  0.719939  0.689561  0.789585  0.884159  0.797149  0.781403
1968  1.053463  1.007266  0.957949  0.962455  0.946686  0.850231  0.963008
1969  0.804578  0.716076  0.845920  0.814333  0.849052  0.824609  0.809095
1970  0.618461  0.797263  0.793098  0.833311  0.917323  0.970053  0.821585

[1971 rows x 7 columns]